## Deliverable 2. Create a Customer Travel Destinations Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API mport g_api_key

# Configure gmaps API key
gmaps.configure(api_key=g_api_key)

In [55]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Blair,IN,11.6667,92.7500,82.69,82,100,21.09,overcast clouds
1,1,Chuy,UY,-33.6971,-53.4616,58.30,91,9,4.97,light rain
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,59.00,47,75,14.97,broken clouds
3,3,Tooele,US,40.5308,-112.2983,88.45,47,1,0.00,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,82.56,83,20,6.91,few clouds

In [56]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_prompt_temp = float(input('What is the minimum temperature for you trip?'))
max_prompt_temp = float(input('What is the maximum temperature for you trip?'))

In [57]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
input_trip = city_data_df.loc[
    (city_data_df['Max Temp'] <=max_prompt_temp) & 
    (city_data_df['Max Temp'] >=min_prompt_temp)
    ]
input_trip

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Blair,IN,11.6667,92.7500,82.69,82,100,21.09,overcast clouds
1,1,Chuy,UY,-33.6971,-53.4616,58.30,91,9,4.97,light rain
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,59.00,47,75,14.97,broken clouds
3,3,Tooele,US,40.5308,-112.2983,88.45,47,1,0.00,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,82.56,83,20,6.91,few clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Bognor Regis,GB,50.7821,-0.6798,64.51,94,97,20.02,moderate rain
662,662,Iracoubo,GF,5.4802,-53.2011,77.29,89,59,11.05,broken clouds
663,663,Shimanovsk,RU,52.0000,127.7000,83.32,55,29,12.88,scattered clouds
664,664,Afsin,TR,38.2477,36.9140,58.28,60,0,4.76,clear sky
665,665,Nizhniy Ingash,RU,56.2000,96.5300,76.73,44,0,13.40,clear sky

In [58]:
# 4a. Determine if there are any empty rows.
input_trip.count()

City_ID                603
City                   603
Country                600
Lat                    603
Lng                    603
Max Temp               603
Humidity               603
Cloudiness             603
Wind Speed             603
Weather Description    603
dtype: int64

In [59]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = input_trip.dropna()
clean_df.count()

City_ID                600
City                   600
Country                600
Lat                    600
Lng                    600
Max Temp               600
Humidity               600
Cloudiness             600
Wind Speed             600
Weather Description    600
dtype: int64

In [60]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Blair,IN,82.69,overcast clouds,11.6667,92.7500,
1,Chuy,UY,58.30,light rain,-33.6971,-53.4616,
2,Tuktoyaktuk,CA,59.00,broken clouds,69.4541,-133.0374,
3,Tooele,US,88.45,clear sky,40.5308,-112.2983,
4,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,
6,Port Alfred,ZA,50.11,scattered clouds,-33.5906,26.8910,
8,Albany,US,62.92,clear sky,42.6001,-73.9662,
9,Bethel,US,69.58,scattered clouds,41.3712,-73.4140,
10,Half Moon Bay,US,78.75,few clouds,37.4636,-122.4286,
11,Hirara,JP,84.47,broken clouds,24.8000,125.2833,

In [61]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    
    # 6e. Make request and retrieve the JSON data from the search. 
    params = {'key': g_api_key, 'type': 'lodging', 'radius' :5000}
    params['location'] = f"{lat},{lng}"
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        r_hotels = requests.get(base_url, params=params).json()
        hotel_df.loc[index, 'Hotel Name'] = r_hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [64]:
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Blair,IN,82.69,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
1,Chuy,UY,58.30,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
2,Tuktoyaktuk,CA,59.00,broken clouds,69.4541,-133.0374,End of The Road Ltd.
3,Tooele,US,88.45,clear sky,40.5308,-112.2983,"Holiday Inn Express & Suites Tooele, an IHG Hotel"
4,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
661,Bognor Regis,GB,64.51,moderate rain,50.7821,-0.6798,Royal Norfolk Hotel
662,Iracoubo,GF,77.29,broken clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
663,Shimanovsk,RU,83.32,scattered clouds,52.0000,127.7000,Гостиница Домашняя
664,Afsin,TR,58.28,clear sky,38.2477,36.9140,Afsin Ogretmenevi ASO
665,Nizhniy Ingash,RU,76.73,clear sky,56.2000,96.5300,Gostinitsa Bayazet

In [65]:
# 7. Drop the rows where there is no Hotel Name.

In [67]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [69]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp}°F</dd>
</dl>'''
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map. 
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows() ]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))